/* NumberSliderCss.css 
 * Last updated: 6 July 2020 
 */
h1{
    color: darkred;
    font-family: Arial;
    font-weight: bolder;
}
div {
    margin: 0px auto;
    width: 340px;
}
canvas {
  border:1px solid darkred;
  display: block;
  margin: 0 auto;
}
label {
    color : brown;
    font-family: Arial;
    font-weight:bold;
    font-size: 20;
} 
button {
  display: inline-block;
  font-size: 14px;
  font-weight: bolder;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: darkred;
  background-color:khaki; 
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}
button:hover {background-color:lightyellow} 
table td {
  width: 110px;
}
.checkbox-tool input[type='checkbox']:after {
    position: relative; 
    width: 10px;
    height: 10px;
    background-color:wheat; /* #d1d3d1;*/
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.checkbox-tool input[type='checkbox']:checked:after {
    background-color: orangered;
 } 
.radio-toolbar input[type="radio"] {
    display: none;
  }
.radio-toolbar label {
    display: inline-block;
    background-color: whitesmoke;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    color:red;
    cursor: pointer;
    margin-left: 20px;
  }
 .radio-toolbar input[type="radio"]:checked+label{
    background-color: burlywood;
  }